In [3]:
import numpy as np
import pandas as pd
from math import sqrt

In [6]:
#1.  How likely is it that you roll doubles when rolling two dice?
outcomes = [1,2,3,4,5,6]
sims = 10_000
trials = 2
rolls = np.random.choice(outcomes, size=(sims, trials))
rolls
sum_of_rolls = rolls.sum(axis=1)
(sum_of_rolls % 2

array([8, 6, 7, ..., 4, 3, 6])

In [9]:
#2.  If you flip 8 coins, what is the probability of getting exactly 3 heads? 
# What is the probability of getting more than 3 heads?

outcomes = [1, 0] #one is heads, 0 is tails
flips = np.random.choice(outcomes, size=(10_000, 8), p=[0.50, 0.50])
flips
num_heads = flips.sum(axis=1)
(num_heads == 3).mean()
(num_heads > 3).mean()

0.6426

In [13]:
#3. There are approximitely 3 web development cohorts for every 1 data science cohort at Codeup. 
# Assuming that Codeup randomly selects an alumni to put on a billboard, what are the odds that the two billboards 
# I drive past both have data science students on them?
outcomes = [1,1,1,0]
billboard = np.random.choice(outcomes, size=(10_000, 2))

ds_billboard = billboard.sum(axis=1)
(ds_billboard == 0).mean()

0.0614

In [35]:
#4. Codeup students buy, on average, 3 poptart packages (+- 1.5) a day from the snack vending machine. 
#If on monday the machine is restocked with 17 poptart packages, 
#how likely is it that I will be able to buy some poptarts on Friday afternoon?
mean_poptarts = 3
std = 1.5 
days = 5

poptarts_eaten = np.round(np.random.normal(loc = 3, scale = 1.5, size = (10_000, days)))
poptarts_eaten

poptarts_per_week = poptarts_eaten.sum(axis=1)
(poptarts_per_week <= 17).mean()

0.7691

In [22]:
#5. Compare Heights

# -Men have an average height of 178 cm and standard deviation of 8cm.
# -Women have a mean of 170, sd = 6cm.
# -If a man and woman are chosen at random, P(woman taller than man)?

men_height = 178
men_std = 8
women_height = 170
women_std = 6

men = np.random.normal(loc = men_height, scale = men_std, size = (10_000))
women =  np.random.normal(loc = women_height, scale = women_std, size = (10_000))

(women > men).mean()

0.2078

In [55]:
#6. When installing anaconda on a student's computer, 
# there's a 1 in 250 (.004) chance that the download is corrupted and the installation fails. 
# What are the odds that after having 50 students download anaconda, 
# no one has an installation issue? 100 students?
# What is the probability that we observe an installation issue within the first 150 students 
# that download anaconda?
# How likely is it that 450 students all download anaconda without an issue?
#50
outcome = [1,0] #1 = fails, 0=downloads
corrupt = np.random.choice(outcome, size=(10_000, 50), p=[1/250, 249/250])

corrupt_sum = corrupt.sum(axis=1) #axis=1 means sum acrosss all the rows
(corrupt_sum == 0 ).mean() #should be .816

# Binomial way (50):
# corrupt = sum(np.random.binomial(50, .004, 10_000))
# corrupt_sum = sum(np.random.binomial(50, .004, 100_000) 
# (corrupt_sum== 0).mean()

0.8177

In [56]:
#100
outcome = [1,0] #1 = fails, 0=downloads
corrupt = np.random.choice(outcome, size=(10_000, 100), p=[1/250, 249/250])
corrupt_sum = corrupt.sum(axis=1) #axis=1 means sum acrosss all the rows
(corrupt_sum == 0 ).mean()

0.6729

In [72]:
# What is the probability that we observe an installation issue within the first 150 students 
# that download anaconda?
outcome = [1,0] #1 = fails, 0=downloads
corrupt = np.random.choice(outcome, size=(10_000, 150), p=[1/250, 249/250])
corrupt_sum = corrupt.sum(axis=1) #axis=1 means sum acrosss all the rows
(corrupt_sum > 0 ).mean()

0.4617

In [59]:
# How likely is it that 450 students all download anaconda without an issue?
outcome = [1,0] #1 = fails, 0=downloads
corrupt = np.random.choice(outcome, size=(10_000, 450), p=[1/250, 249/250])
corrupt_sum = corrupt.sum(axis=1) #axis=1 means sum acrosss all the rows
(corrupt_sum == 0 ).mean()

0.1687

In [64]:
#7. There's a 70% chance on any given day that there will be at least one food truck at Travis Park. 
# However, you haven't seen a food truck there in 3 days. How unlikely is this?
# How likely is it that a food truck will show up sometime this week?
prob = .70
outcomes = [1, 0] #1= not there, 0=there
food_truck = np.random.choice(outcomes, size=(10_000, 3), p=[.30,.70])
food_truck_sum = food_truck.sum(axis=1)
(food_truck_sum >= 3).mean()

0.0253

In [74]:
#8. If 23 people are in the same room, what are the odds that two of them share a birthday? 
# What if it's 20 people? 40?
#theoretical = 
birthdays = list(range(1,366))
birthdays
df = pd.DataFrame(birthdays, columns = ['Day'])
df

     Day
0      1
1      2
2      3
3      4
4      5
..   ...
360  361
361  362
362  363
363  364
364  365

[365 rows x 1 columns]